/* Styles for the Header */
.dropbtn{
    border: none;
}

.dropdown {
    color: rgb(255, 255, 255);
    position: relative;
}

.dropdown:hover {
    color: #9a9b9a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(54, 54, 54);
    min-width: 100%;
    overflow: auto;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white;
    background-color: rgb(4, 182, 4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #9a9b9a;
}

.navbar {
    background-color: rgba(14, 14, 14, 0.705);    
}

ul li {
    position: relative;
    margin-right: 20px;
}

.navbar-light:hover {
    color: whitesmoke;
}

li a {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/* esquema pra fazer a animação do bloco em cima dos links da navbar */
li a:hover {
    color: #9a9b9a;
    text-decoration: none;  
}

li a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: rgb(13, 236, 13);

    position: absolute;
    top:0;
    left: 0;
    width: 0%;

    transition: all ease-in-out 150ms;
}

li a:hover::before {
    width: 100%;
}
/* até aqui*/

/*--------------------LOGO------------------*/
.logo {
   color: whitesmoke;
   left: 0;
   margin-right: 0;
}

.logo:hover {
    text-decoration: none;
    color: aliceblue;
}

h1, h2, p{
    font-family: 'Montserrat', sans-serif, Verdana, sans-serif;
}

/* Pagina Bitcoin (e potencialmente de todas as outras moedas) */
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85)),url(images/container_background.jpg);  
    background-position: center center;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* z-index: 1; */
}

.content {
    background-color: rgba(2, 2, 2, 0.9);
    color: #e8e8e8;
    margin-top: 4em;
    padding: 3em;    
}

/*----------------form e button styling------------------*/
.ghost-input {
    display: block;
    width: 70%;
    font-size: 15px;
    border:0px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(249, 249, 249);
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    left: 15%;
    right: 15%;
}
.ghost-input:focus {
    border-left:2px solid rgb(13, 236, 13);
    background: rgb(255, 255, 255);
}
.ghost-button {
    background-color: rgb(62, 62, 62);
    color: rgb(230, 230, 230);
    border:1px solid #ddd;
    padding:10px 30px;
    width: 70%;
    position: relative;
    left: 15%;
    right: 15%;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;    
    transition: all 0.2s ease-in-out;
}
.ghost-button:hover {
    border:1px solid rgb(255, 255, 255);
    background: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
}

  /*------------------- Styling das informações em display -------------------*/
.col-centered {
    float: none;
    margin: 0 auto;    
}
  
.addr_info{
color: #090909;
font-size: 16px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer styling */
.footer {
    position: relative;
    bottom: 0;
    right: 0px;
    width: 100%;
    height: 4em;
    background: rgba(11, 11, 11, 0.927);
}

.footer-content {
    font-size: 13px;
    position: relative;
    left: -120px;
    top: 25px;

    color: rgb(181, 181, 181)
}

.blockcypher-link {
    color: inherit;
    transition: all 0.1s ease-in-out;
}

.blockcypher-link:hover {
    text-decoration: none;
    color: #9a9b9a;
}

