<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head>
<body>
    <div class="footer">
        <div class="container footer-content">
                <p>2018 - Buscador de Endereço. Feito por: Lucas Beneti <span class="fas fa-envelope" style="color: whitesmoke;"></span> lbeneti@gmail.com</p>
        </div>
    </div>
</body>
</html>