<!DOCTYPE html>
<html lang="en">
    <head>
        <% include header %>
            <title>Blockchain Searcher | Home</title>
    </head>

    <body>
        <div class="container qualquer">
            <h1 style="text-align: center;">Ola, bem vindo ao Blockchain Searcher!</h1>
            <h2 style="text-align: center;">Esse foi um projeto com finalidade de me fazer aprender a mecher com algumas tecnologias que eu queria aprender...</h3>

                <p style="text-align: center; color: white;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula suscipit fringilla. Donec euismod turpis turpis, in ultrices enim consectetur a. Morbi bibendum semper lectus. Proin ullamcorper sem ut elit tincidunt, eu aliquam lorem pretium. Etiam id tempor elit. Integer cursus rutrum dolor, eget eleifend neque ultricies sit amet. Cras ultrices porttitor finibus. Cras quis arcu malesuada, tempor ligula ac, suscipit sapien. Nam ac posuere neque, at malesuada nisl. Vestibulum sollicitudin dui arcu, id aliquet tellus sodales nec. Nunc posuere metus commodo leo lobortis, ac ultrices ipsum porta. Nulla pulvinar massa id pulvinar suscipit.

Fusce fringilla dictum arcu a porttitor. Fusce vitae suscipit urna. Nulla vitae sem in lectus venenatis sagittis. Fusce condimentum, augue in faucibus suscipit, tortor mi tempor magna, ullamcorper volutpat enim nunc a arcu. Pellentesque fringilla gravida dolor, feugiat porttitor nulla lacinia vel. Curabitur tempor facilisis neque sed molestie. Ut in interdum est, eget eleifend orci. Nulla fermentum risus eget sapien consequat, nec scelerisque massa tincidunt. Nam vitae vulputate quam, eu pulvinar justo. Nullam sed nisl et elit aliquet finibus. Vestibulum cursus magna sed tellus rhoncus, eu dignissim libero malesuada. Integer maximus, ex sit amet aliquam maximus, sapien nulla pharetra turpis, quis suscipit ex orci nec dolor. Suspendisse ullamcorper orci nulla, vestibulum efficitur odio semper id. Nulla sed nibh eu ante maximus viverra.

Mauris elit quam, ultrices sit amet eleifend et, rhoncus nec mi. Nam gravida tellus vitae felis vulputate bibendum. Fusce sodales metus at leo luctus ultricies vitae eu lectus. Ut ullamcorper nisl vitae tortor sollicitudin, eget dapibus nulla fringilla. Etiam posuere efficitur ultricies. Nulla eu dolor quis quam scelerisque semper. Integer convallis nibh non placerat volutpat. Aliquam sit amet euismod orci, ac sagittis sapien. Etiam tempor ligula a diam gravida faucibus. Sed ac orci eu dolor rhoncus placerat id ut turpis. Quisque porta, massa ac feugiat suscipit, neque erat finibus justo, sed rhoncus erat sapien sit amet tortor. Donec quis tortor at dolor consequat semper. Nam vitae elit lectus. Etiam pharetra arcu sapien, quis malesuada eros blandit a. Fusce tincidunt risus eget ante rhoncus, at aliquet dolor elementum.

Nunc congue egestas ipsum vel hendrerit. Integer ultrices aliquet libero quis tempor. Etiam bibendum porta neque nec tincidunt. Nulla a sagittis purus. Vivamus ac lorem molestie, vehicula urna in, ornare elit. Morbi malesuada neque ultricies, vulputate ipsum at, eleifend sem. Donec tincidunt tincidunt diam, ac pellentesque eros dapibus vel. Duis eget massa suscipit, eleifend eros ut, vehicula tortor. Nulla feugiat vulputate mollis. Maecenas egestas auctor pretium. Quisque nulla est, vestibulum in placerat non, pharetra gravida arcu. Fusce ut leo cursus, malesuada nulla nec, rutrum nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur ac lacus rutrum, egestas diam id, accumsan eros.
                </p>
        </div>
    </body>
</html>