<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% include header %>
            <title>Buscador de Endereços | Início</title>
    </head>

    <body>
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <div class="content">
                <h1 style="text-align: center; color: ivory;">Ola, bem vindo ao Buscador de Endereços em Blockchains!</h1>
                <hr class="hr-style">
                <h3 style="text-align: center; color: ivory;">Aqui você vai encontrar meio de encontrar informações de um address específico paras as Blockchains do Bitcoin, Ethereum, Dash entre outras.</h3>
    
                <p style="text-align: justify; color: white;">
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da  <a target="_blanck" href="https://www.blockcypher.com/" class="blockcypher-link">Blockcypher</a> e também mexer com 
                    algumas tecnologias que eu acho interessante, como o NodeJS (para o backend), EJS e Express para a estruturação do projeto em si. Além de buscar deixar o projeto todo com a melhor experiência de usuário possível.</p>
                <p>
                    Espero que seja de bom proveito.
                </p>
            </div>
        </div>
    </body>
    <% include footer %>
</html>