<!DOCTYPE html>
<html lang="en">
    <head>
        <% include header %>
            <title>Blockchain Searcher | Home</title>
    </head>

    <body>
        <div class="container" style="margin:0 auto; border: solid red; border-radius: 15px; padding: 5px; background: peachpuff">
            <h1 style="text-align: center;">Ola, bem vindo ao Blockchain Searcher!</h1>
            <h2 style="text-align: center;">Esse foi um projeto com finalidade de me fazer aprender a mecher com algumas tecnologias que eu queria aprender...</h3>

                <p style="text-align: center;">
                    No presente site você consegue encontrar diversas informações de endereços de algumas cryptomoedas e ainda checar por endereço,
                    os stats da publickey.
                </p>
        </div>
    </body>
</html>