<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% include header %>
            <title>Blockchain Searcher | Home</title>
    </head>

    <body>
        <div class="container content">
            <h1 style="text-align: center; color: ivory;">Ola, bem vindo ao Address Searcher!</h1>
            <h3 style="text-align: center; color: ivory;">Aqui você vai encontrar meio de encontrar informações de um address específico paras as Blockchains do Bitcoin, Ethereum, Dash entre outras.</h3>

                <p style="text-align: justify; color: white;">
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da  <a target="_blanck" href="https://www.blockcypher.com/" class="blockcypher-link">Blockcypher</a> e também mexer com 
                    algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si.

                    Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                    O intuito principal desse projeto foi de aprender um pouco mais como trabalhar com API's, que nesse caso foi a API da Blockcypher e também mexer com algumas tecnologias que eu acho interessante, como é o NodeJS (para o backend) e EJS e Express para a estruturação do projeto em si. Espero que seja de bom proveito.
                </p>
        </div>
    </body>
    <% include footer %>
</html>